
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	margin: auto;
	height: 7000px;
}

.section {
	margin: 0 auto;
	width: 100%;
	/*height: 770px;*/
}

.first_slide {
	background: linear-gradient( rgba(0, 0, 0, 0.45),
	rgba(0, 0, 0, 0.7)),
	url(../images/layer-10.png) no-repeat 0px 0px;
	background-size: 100%;
}

.first_container {
	width: 85%;
	height: 770px;
	margin: 0 auto;
}

/*Top menu*/
header {
	width: 100%;
	height: 10%;
	text-align: right;
	position: relative;
	box-sizing: border-box;

}

nav {
	position: absolute;
	height: 40px;
	margin-top: 25px;
	width: 100%;
}

nav ul li {
	display: inline-block;
	margin: 0 20px;
}

nav ul li a {
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.logo {
	float: left;
}

nav ul li.logo a {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

.menu_items {
	right: 75%;
}

	/*Central Content*/
.content {
	text-align: center;
	margin-top: 20%;
	display: block;
}

.content h1 {
	font-family: Montserrat, sans-serif;
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.content p {
	color: #ffffff;
	font-family: "Roboto Slab", sans-serif;
	margin-top: -21px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1px;
}

.first_slide .button {
	border: 2px solid white;
	margin: 40px auto;
	border-radius: 2px;
	display: block;
	width: 180px;
	height: 50px;
	color: #ffffff;
	line-height: 50px;
	font-family: Montserrat, sans-serif;
	letter-spacing: 1px;
	font-size: 16px;

	text-transform: uppercase;
	font-weight: lighter;
}


/*Second section*/
.second_slide {
	width: 100%;
	background-color: #FFFFFF;
	height: 580px;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.container .slide_header {
	text-align: center;
	color: #555555;
	margin-top: 100px;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
}

.container hr {
	width: 50px;
	height: 2px;
	background-color: #555555;
}

.container .slide_descr {
	text-align: center;
	color: #555555;
	font-family: "Roboto Slab", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.content_column {
	display: inline-block;
}

.content_column h3 {
	text-align: center;
	color: #555555;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.content_column .content_logo {
	margin: 0 auto;
	text-align: center;
	font-size: 46px;
	text-align: center;
}

.content_logo .fa {
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 58px;
	color: #c0301c;
}

.content_logo .fa:hover {
	color: #FFFFFF;
	background-color: #c0301c;
}

.three_columns {
	margin: 60px 0 auto;
}

/*		Third section		*/

.third_slide {
	background-color: #f8f8f8;
	padding-top: 60px;
}

.third_text {
	margin-top: 50px;
}

.third_text p  {
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.slide_item figcaption {
	width: 263px;
	text-align: center;
	color: #555555;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

.slide_item p {
	height: 14px;
	color: #555555;
	width: 263px;
	font-family: "Roboto Slab";
	font-size: 13px;
	text-align: center;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-bottom: 140px;
}

.slider_container {
	position: relative;
}

.next_button, .prev_button {
	font-size: 30px;
	position: absolute;
	z-index: 10;
	color: #FFFFFF;
	cursor: pointer;
	background-color: #c0301c;
	top: 31%;
	padding: 0 14px 1px 12px;
}

.next_button {
	right: 37px;
}

.prev_button {
	left: 1px;
}

.img_cover {
	display: none;
	background-color: #555555;
	position: absolute;
	width: 263px;
	height: 249px;
	z-index: 12;
	opacity: 0.5;
}
.owl-carousel div {
	display: inline-block;
}

.slide_item img:hover div.img_cover {
	display: block;
	cursor: pointer;
}

/*Fourth slide*/

/*grid content*/
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)) ;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 30px;
}
 .grid div {

	 margin: 0 auto;
 }

 .grid img {
     position: relative;
 }

.grid-img-cover {
    position: absolute;
    /*z-index: 100;*/
    top: 25%;
}

.grid-img-cover h3 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
/* Style the tab */
div.tab {
	overflow: hidden;
margin: 0 auto;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	color: #555555;
	font-family: "Roboto Slab";
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 0 auto;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #c0301c;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
}

#all {
	display: block;
}

/*5-6 slides divider*/

.getintouch_section {
	margin-top: 10%;
	background: linear-gradient( rgba(192, 48, 28, 0.6),
	rgba(192, 48, 28, 0.6)),
	url(../images/touch-back.png) no-repeat 0px 0px;
	background-size: 100%;
	height: 360px;
	text-align: center;

}


.getintouch_section div:not(.button) {
	padding-top: 4%;
}

.getintouch_section p {
	color: #ffffff;
	font-family: "Roboto Slab";
    font-size: 30px;
	font-weight: 400;
	/*line-height: 44px;*/
	margin-top: -1%;
}

.getintouch_section .button {
	color: #ffffff;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	/*display: block;*/
	width: 180px;
	margin: auto;
	height: 50px;
}

.button:hover {
	color: #c0301c;
	background-color: #fff;
	font-weight: 800;
}

/*slide 6*/
.article {
    height: 320px;
}

.article img {
    float: left;
}

.article p {
    display: block;
    text-align: left;
}

.article .text_content {
    margin-left: 42%;
}

.article .article-header {
    display: inline-block;
}

.article .datetime {

    display: inline-block;
    float: left;
    border: 2px solid #555555;
}

.article .datetime > p{
    padding: 0px 19px;
    color: #777777;
    font-family: Montserrat;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.article .article-header .title h3 {
    color: #555555;
    font-family: Montserrat;
    font-size: 16px;
    width: 100%;
    margin-top: 0;
    font-weight: 400;
    line-height: 24px;
    margin-left: 32%;
    text-transform: uppercase;
}

.article .article-header .datetime m{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
}

.title > p {
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 32%;
    color: #777777;
}

div.article:hover + h3 {
    color: #1ccacd;

}

.text_content > p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.text_content >.readmore {
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.articles_container hr {
    height: 1px;
    background-color: #dddddd;
    width: 100%;
    margin: 4% 0;
}

/*7th slide*/

.seventh_slide {
    background-color: #f8f8f8;
    width: 100%;
    height: 480px;
    margin-top: 7%;
}

.partners {
	text-align: center;
	padding-top: 8%;
}

.partners img {
	margin: 0 35px;
}

.seventh_slide  p {
	color: #555555;
	font-family: "Roboto Slab";
	margin: 4em  auto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 80%;
	text-align: center;
}

p.author {
	font-size: 20px;
}